*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --box-color: #052b9f;
    --secondary-color: #f60909;
    --font-family: 'Poppins', 'sans-sheriff';
}

.box{
    background-color: var(--box-color);
    width: 200px;
    height: 200px;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}
.flexbox .box:nth-child(1){
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    margin: 1 1rem;
}

.flexbox .box:nth-child(2){
    width: 100%;
}

.flexbox .box:nth-child(3){
    grid-area: 4 / 4 / 1 / 7;
    width: 100%;
}



.gridbox{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;

}

.gridbox .box:nth-child(1){
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
}

.gridbox .box:nth-child(2){
    grid-area: 2 / 2 / 1 / 6;
    width: 100%;
}

.gridbox .box:nth-child(3){
    grid-area: 4 / 6 / 1 / 6;
    width: 100%;
    height: 100%;
}